    <div class="c-app"
         [t-data]="data | dataFilter : filterQuery"
         #t="DataTable"
         [rowsOnPage]="rowsOnPage"
         [(sortBy)]="sortBy"
         [(sortOrder)]="sortOrder">
      <table
        class="c-table"
        *ngIf="dataService.displayTables">

        <thead class="c-table__head">
        <tr class="c-table__row">
          <td class="c-table__cell--filter" colspan="4">
            Filter by name:
            <input type="text" [(ngModel)]="filterQuery"/>
          </td>
        </tr>
          <tr class="c-table__row">
            <th class="c-table__cell--top">
             <Sorter by="id">{{theaders[0]}}</Sorter>
            </th>
            <th class="c-table__cell--top">
             <Sorter by="name">{{theaders[1]}}</Sorter>
            </th>
            <th class="c-table__cell--top">
             <Sorter by="price">{{theaders[2]}}</Sorter>
            </th>
            <th class="c-table__cell--top">
              <Sorter by="quantity">{{theaders[3]}}</Sorter>
            </th>
          </tr>
        </thead>
        <tbody class="c-table__body">
        <tr class="c-table__row"
            *ngFor="let item of t.data"
            (click)="info(item)">
          <td class="c-table__cell">{{item.id}}</td>
          <td class="c-table__cell">{{item.name}}</td>
          <td class="c-table__cell">{{item.price}}</td>
          <td class="c-table__cell">{{item.quantity}}</td>
        </tr>
        <tr class="c-info" *ngIf="itemInfo">
          <td colspan="4">
            Выбрано: {{itemInfo.name}} (цена: {{itemInfo.price}} )
          </td>
        </tr>
        </tbody>
      </table>
      <app-pagination [rowsOnPageSet]="[5,10,15]"></app-pagination>
    </div>

